<div class="container">
    <div class="search-results">
        <div class="row pt-5">
            <div class="col-9">
            </div>
            <div class="col-2">
                <app-buscador (busqueda)="buscarPatinete($event)"></app-buscador>
            </div>
            <!--Recorremos la lista de patinetes mostrando un card de cada uno-->
            <div class="col-md-4 p-2" *ngFor="let patinete of listapatinetes">
                <div class="card shadow car">
                    <div class="card">
                        <div class="card-body mx-auto">
                            <h5 class="card-title text-center">{{patinete.modelo}}</h5>
                            <p class="card-text text-center">Velocidad máxima: {{patinete.kmhora}} km/h</p>
                            <p class="card-text text-center"> El precio por hora es de: {{patinete.precioHora}} €</p>
                            <img *ngIf="patinete.imagenregenerada!='data:image/png;base64,null'" src="{{patinete.imagenregenerada}}" class="img-responsive col-12" style="margin: auto;
                            width: 26;
                            height: 26;
                           "><br>
                            <img *ngIf="patinete.imagenregenerada=='data:image/png;base64,null'" src="https://www.ciclados.com/web/image/product.template/199/image_256/Patinete%20el%C3%A9ctrico%20Wiizzee%20WS3?unique=25aada4" class="img-responsive" style="margin: auto;"><br>
                            <div class="mx-auto col-6">
                                <p class="btn btn-primary" *ngIf="patinete.disponible==true">Disponible</p>
                                <p class="btn btn-danger" *ngIf="patinete.disponible==false">No Disponible</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Si no hay patinetes se muestra -->
        <div *ngIf="!notEmptyPost" class="row pb-5">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="text-muted h6 alert alert-secondary p-2">No hay patinetes disponibles</div>
            </div>
        </div>
    </div>
