<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Crea tu cuenta</h2>
                            <!--Formulario reactivo-->
                            <!--Tiene span con mensajes de error en caso de que lo introducido sea invalido
                            en todos los inputs-->
                            <form [formGroup]="formulario">
                                <div class="form-outline mb-4">
                                    <label class="form-label">Nombre y Apellidos</label>
                                    <!--Input con el campo al que va a rellenar,-->
                                    <input type="text" placeholder="Pedro Luis De La Fuente" formControlName="name" class="form-control form-control-lg" required/>
                                    <span *ngIf="campoEsValido('name')" class="form-text text-danger">Debe introducir un nombre valido</span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label">Nombre de usuario</label>
                                    <!--Input con el campo al que va a rellenar,-->
                                    <input type="text" placeholder="pedrol123" formControlName="username" class="form-control form-control-lg" required />
                                    <span *ngIf="campoEsValido('username')" class="form-text text-danger">Debe introducir un nombre de usuario valido</span>

                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label">Email</label>
                                    <!--Input con el campo al que va a rellenar,-->
                                    <input type="email" placeholder="email@email.com" formControlName="email" class="form-control form-control-lg" required/>
                                    <span *ngIf="campoEsValido('email')" class="form-text text-danger">Debe introducir un email valido</span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label">Contraseña</label>
                                    <!--Input con el campo al que va a rellenar,-->
                                    <input type="password" placeholder="Introduzca la contraseña que desee" formControlName="password" id="myInput" class="form-control form-control-lg" required/>
                                    <span *ngIf="campoEsValido('password') " class="form-text text-danger">Debe introducir una contraseña valido</span><br>
                                    <input type="checkbox" (click)="mostrarPassword()">Ver contraseña
                                </div>
                                <div class="d-flex justify-content-center">
                                    <!--Boton que se activa si todos los campos tienen valores validos y llama al metodo de registrar.-->
                                    <button (click)="register()" type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" [disabled]="formulario.invalid">Register</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Si tienes una cuenta , haz <a routerLink="/login" class="fw-bold text-body"><u>Login</u></a></p>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
